@import "../Style/_main.scss";
BoonShop {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: all;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.1s;

    &:intro {
        opacity: 0;
    }

    &:outro {
        opacity: 0;
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 20;
        pointer-events: all;
        backdrop-filter: blur(20px) brightness( 0.2 );
        transition: opacity 0.5s;
        opacity: 1;

        &:intro {
            opacity: 0;
        }
    }

    .shadow-box {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
        background-color: #000D;
    }

    .main {
        width: 60%;
        height: 80%;
        background-color: #000E;
        border: 2px solid #FFFFFF02;
        backdrop-filter: blur(10px);
        border-radius: 25px 5px 25px 25px;

        .header {
            border-bottom: 2px solid #FFF6;
            margin-bottom: 10px;

            .title {
                color: white;
                font-family: Poppins;
                font-size: 36px;
            }

            #balanceArea {
                padding: 10px;
                width: 17.5%;
                .icon {
                    width: 40px;
                    height: 40px;
                    margin-right: 5px;
                }

                .balance {
                    color: white;
                    height: 100%;
                    font-family: Roboto;
                    font-size: 28px;
                    border: 1px solid #FFF1;
                    border-radius: 5px;
                    background-color: #FFFFFF03;
                    padding: 0px 5px;
                }
            }

            .button {
                width: 50px;
                height: 50px;
                margin: 5px;
                font-size: 32px;
            }
        }

        .body {
            overflow: scroll;

            .boon {
                color: white;
                flex-shrink: 0;
                font-family: Poppins;
                padding: 15px;
                border-bottom: 1px solid #FFFFFF05;
                background-color: #FFFFFF01;

                &:first-child {
                    border-top: 1px solid #FFFFFF05;
                }

                .thumbnail {
                    width: 60px;
                    height: 60px;
                }

                .title {
                    font-size: 36px;
                }

                .description {
                    font-size: 18px;
                    font-family: Roboto;
                }

                #buyArea {
                    width: 10%;

                    .price {
                        margin-bottom: 5px;

                        .icon {
                            height: 24px;
                            width: 24px;
                            margin-right: 5px;
                        }

                        label {
                            font-size: 18px;
                            font-family: Roboto;
                        }
                    }

                    .button {
                        width: 125px;
                        height: 30px;

                        &:not(.disabled) {
                            color: white;
                            background-color: rgb(33,113,254);

                            &:hover {
                                border-color: white;
                            }
                        }

                        > label {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
