@using Sandbox.UI;
@inherits Panel

<root class="justify-center items-center">
    <div class="shadow-box"/>
    <div class="main flex-col">
        <div class="header w-full">
            <div class="title grow justify-center items-center">Boon Shop</div>
            <div class="button" onclick=@Close>X</div>
        </div>
    </div>
</root>
