@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

<root class="justify-between items-center">
    @if (Boon is null)
        return;

    <img src=@Boon.Icon id="boonIcon"/>
    <label id="titleLabel" class="grow text-center">@Boon.Title</label>
    <SwitchControl id="boonSwitch" @ref=Toggle/>
</root>
